# Created by https://www.gitignore.io

### Autotools ###
# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.h
/config.log
/config.status
/config.sub
/config.guess
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/stamp-h1
/ylwrap
*.exe

*.o
*.lo
*.la
Makefile
Makefile.in
.libs
.deps
*.pc

# Created by https://www.gitignore.io

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
/Debug
/Release

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# TeXlipse plugin
.texlipse

.project

m4/libtool.m4
m4/lt*.m4

# Needed by nodejs to run Grunt and jshints.
node_modules

/jrdb/jrdb
core.*

# Distribution archives.
*.tar.gz

# Tests.
check/jsrdbg_check*
test-suite.log

# Executable stack fix.
fix/fixnostack

# Vim
*.swo
*.swn

